.profile__edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  align-self: center;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  transition: opacity .5s;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
@media (max-width: 680px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}