.profile__name {
  max-width: 300px;
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 18px 0 0;
}
@media (max-width: 680px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin: 0 10px 0 0;
  }
}