.edit-form__reset-btn {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/cross.svg);
  border: none;
  cursor: pointer;
  position: absolute;
  top: -39px;
  right: -44px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .4s;
}
.edit-form__reset-btn:hover {
  opacity: 0.6;
}
@media (max-width: 580px) {
  .edit-form__reset-btn {
    right: 0px;
    top: -50px;
  }
}