@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/flex-container/flex-container.css);
@import url(../blocks/flex-container/_direction/flex-container_direction_column.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-btn/card__like-btn.css);
@import url(../blocks/card/__like-btn/_liked/card__like-btn_liked.css);
@import url(../blocks/card/__trash-btn/card__trash-btn.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__card-img/popup__card-img.css);
@import url(../blocks/popup/__card-title/popup__card-title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/edit-form/edit-form.css);
@import url(../blocks/edit-form/__title/edit-form__title.css);
@import url(../blocks/edit-form/__input/edit-form__input.css);
@import url(../blocks/edit-form/__submit-btn/edit-form__submit-btn.css);
@import url(../blocks/animation/_open/animation_open.css);
@import url(../blocks/animation/_close/animation_close.css);

